
<div class="container " style="height: 10px; width: auto;">
    <div class="row-10">
        <div class="col-12">
            <div style="scrollbar-highlight-color: grey; height: 20px;">
                <p style="text-align: center;"></p>
                <h1 class="display">
                    TRANSACTIONS</h1>
            </div>

            
            <div class="input-group-type" style="margin-top: 70px;
             margin-left: 420px; font-size: 2.0rem;">                
                <input type="radio" name="Status" value="valid "
                [(ngModel)]="UploadModel.status">
                <label style=" font-size: large;">&nbsp;
                    Valid &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; </label>   
                <input type="radio" name="Status" value="invalid "
                 [(ngModel)]="UploadModel.status" >
                <label style=" font-size: large;">&nbsp;Invalid </label>   
            </div>
            <div>
                <button class="btn btn-success-indigo" 
                type="submit" style="color:black; background-color: white; 
                text-align:center;text-shadow: black; font-size: 16px;
                align-self: center; margin-left: 45%; margin-top: 30px;"
                (click)="onDisplay()">
                DISPLAY</button>
            </div>
            <hr>

            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th>SR No</th>
                            <th>ID</th>
                            <th>Transaction Ref</th>
                            <th>Date</th>
                            <th>Payer</th>
                            <th>Payee</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Feed Generated</th>  
                            <th [hidden]="!flag">Reason</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let UploadModel of upload; let i=index">
                            <td>{{ i + 1}}</td>
                            <td>{{UploadModel.id}}</td>
                            <td>{{UploadModel.transactionRef}}</td>
                            <td>{{UploadModel.date}}</td>
                            <td>{{UploadModel.payer}}</td>
                            <td>{{UploadModel.payee}}</td>
                            <td>{{UploadModel.amount}}</td>
                            <td>{{UploadModel.status}}</td>
                            <td>{{UploadModel.feedgenerated}}</td>
                            <td [hidden]="!flag">{{UploadModel.reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

